.list-zvit-wrap{
    outline:0px solid red;
    width: 450px;
    height: 0px;
    margin:20px auto 15px auto;
    position: relative;
}

.list-zvit-title{
    width: 100%;
    height: 40px;
    border: 2px solid #686868;
    padding: 4px 5px;
    background: #89b472;
    /* background-image: linear-gradient(to bottom , #87bd76,#d2ecc6, #ffffff, #d8f1c8, #73a05d); */
    background-image: linear-gradient(to bottom , #7c7c7c,#e1e1e1, #ffffff, #cdcdcd, #777777);
    border-radius: 7px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.list-zvit-title p{
    outline:0px solid red;
    margin: 0px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    padding: 5px 10px;
    border-right:1px solid #111111;
}

.list-zvit-title p:last-child{
    width: 30px;
    border-right:0px solid #ffffff;
}


.list-zvit-body {
    width: 100%;
    height: 30px;
    border: 1px solid #c3c3c3;
    padding: 4px 5px;
    background: #ececec;
    border-radius: 7px;
    margin-top: 5px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-zvit-body p{
    outline:0px solid red;
    margin: 0px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #111111;
    padding: 0px 1px;
    border-right:1px solid #000000;
    text-shadow: 0px 0px 5px #ffffff;
}

.list-zvit-body p:last-child{
    width: 30px;
    border-right:0px solid #ffffff;
}

.edit-wrap{
    width: 100%;
    height: 102%;
    background: #0000009e;
    position: absolute;
    top: -14px;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

.edit-body{
    width: 330px;
    max-height: 55%;
    min-height: 55%;
    position: fixed;
    top: 20%;
    padding: 0px 15px 10px 15px;
    overflow-Y: auto;
    overflow-X: hidden;
    background: #ffffff;
    border: 1px solid #898989;
    border-radius: 9px;
    box-shadow: 0px 0px 5px #ffffff;
}

.edit-body::-webkit-scrollbar{
    width: 16px;
    height: 30px;
    border-radius: 7px;
}
.edit-body::-webkit-scrollbar-thumb{
    background: #ffffff;
    border: 2px solid #585858;
    border-radius: 0px 20px 20px 0px;
}
.edit-body::-webkit-scrollbar-track{
    background: #585858;
    width: 1px;
    border-radius: 0px 8px 8px 0px;
}

.edit-header{
    width: 100%;
    height: 20px;
    position: relative;
    margin-top:10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;

}

.edit-exit{
    cursor: pointer;
    width: 90px;
    height: 20px;
    margin-right:10px;
    padding: 1px 5px; 
    color:#d30000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.edit-header p{
    font-size: 10px;
    font-weight: bold;
    margin: 5px 10px 5px 0px;
}

.edit-list-body{
    outline: 0px solid red;
    width: 100%;
    min-height: 50px;
    margin-top: 15px;
}

.edit-list-body-row{
    width: 100%;
    height: 22px;
    border: 1px solid #c3c3c3;
    padding: 0px 1px;
    background: #ececec;
    border-radius: 7px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.edit-list-body-row:nth-child(9){
    min-height: 22px;
    display: table;
}

.edit-list-label{
    outline: 0px solid red;
    width: 33%;
    height: 100%;
    border-right: 1px solid #848484;
    margin: 0px 0px 0px 0px;
    padding: 1px 1px;
    float: left;
}

.edit-list-body-row:nth-child(9) .edit-list-label{
    width: 38%;
    padding: 1px 13px;
}

.edit-list-value{
    outline: 0px solid red;
    width: 60%;
    height: 20px;
    margin: 0px 3px;
    padding: 0px 6px;
    float: right;
}

.edit-list-body-row:nth-child(9) .edit-list-value{
    outline: 0px solid red;
    width: 59%;
    min-height: 20px;
    margin: 0px 3px;
    padding: 1px 6px;
    float: right;
}

.edit-list-value select{
    font-size: 12px;
    height: 18px;
    width: 100%;
    border-radius: 5px;
    margin: -13px 1px 1px 1px;
}

.send-update {
    cursor: no-drop;
    /* cursor: pointer; */
    width: 40%;
    height: 24px;
    margin: 22px auto 10px 30%;
    padding: 3px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to bottom right, #000000, #d3d3d3, #000000);
    /* background: linear-gradient(to bottom right, #0b380b, #53bb53, #0f480f); */
    border: 1px solid #676767;
    border-radius: 7px 15px;
    box-shadow: 0px 0px 5px #4a4a4a;
    transition: 0.2s;
}

.edit-list-info{
    outline: 0px solid red;
    width: 100%;
    display: table;
    position: relative;
    margin-top: 15px;
}

.edit-list-info p{
    margin: 0px;
    font-size: 10px;
}

.edit-list-info-blok{
    outline: 0px solid red;
    width: 100%;
    height: 16px;
    position: relative;
    padding: 2px 0px;
    border-bottom: 1px solid #d7d7d7;
}

.edit-list-info-label{
    width: 23%;
    float: left;
    position: relative;

}

.edit-list-info-value{
    width: 77%;
    float: right;
    position: relative;

}


@media screen and (max-width:549px){
    .list-zvit-wrap {
        width: 320px;
    }
    .list-zvit-title p {
        width: 85px;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0px;
    }

    .list-zvit-title p:nth-child(3) {
        width: 40px;
        padding: 5px 0px;

    }

    .list-zvit-title p:nth-child(4) {
        width: 47px;
        padding: 5px 0px;

    }

    .list-zvit-body p {
        width: 85px;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 0px;
    }

    .list-zvit-body p:nth-child(3) {
        width: 43px;
        padding: 5px 0px;
    }

    .list-zvit-body p:nth-child(4) {
        width: 47px;
        padding: 5px 0px;
    }
}