@import "tabs.css";
@import "form.css";
@import "calendar.css";
@import "list.css";

:root{
    --ol-1: 0px solid red;
    --ol-2: 0px solid green;
    --ol-3: 0px solid blue;
}

html{
    padding: 0px;
    margin: 0px;  
}

html::-webkit-scrollbar{
    width: 15px;
    height: 30px;
}
html::-webkit-scrollbar-thumb{
    background: #ffffff;
    border: 2px solid #585858;
    border-radius: 0px 20px 20px 0px;
}
html::-webkit-scrollbar-track{
    background: #585858;
    width: 1px;
    border-radius: 0px 8px 8px 0px;

}

body{
    padding: 0px;
    margin: 0px;
    background: #2b2b2b;
    position: relative;
}

*{
    box-sizing: border-box;
}

.wrap{
    outline: var(--ol-1);
    width: 700px;
    min-height: 200px;
    margin: 15px auto 0px auto;
    padding: 0px;
    display: table;
    position: relative;
}

/*-----------header------------*/
.header{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px;
    border-radius: 15px;
    border: 8px solid #d2d2d2;
    background: #f9f9f9;
    box-shadow: 0px 0px 5px #525252;
}

/*-----------header-logo------------*/
.header-logo{
    outline: var(--ol-2);
    width: 40%;
}

.header-logo img{
    width: 95%;
    margin: 3px 10px;
}

/*-----------header-login------------*/
.header-login{
    outline: var(--ol-2);
    width: 59%;
    display: flex;
    justify-content: flex-end;
}

.click{
    cursor: pointer;
    display: flex;
    height: 25px;;
    margin: 19px 20px;
    float: right;
    background: linear-gradient(to bottom right, #0b380b, #53bb53, #0f480f);
    border: 1px solid #676767;
    border-radius: 7px 15px;
    box-shadow: 0px 0px 5px #4a4a4a;
    transition: 0.2s;
}

.click:hover{
    box-shadow: 0px 0px 8px #4a4a4a;
    text-shadow: 0px 0px 5px red;
    transition: 0.2s;
}

.click-login-open{
    width: 200px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-open input{
    width: 90px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    margin: 1px 4px;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px solid #757575;
    opacity: 1;
    transition: 0.7s;
}

.click-login-close{
    width: 0px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-close input{
    opacity: 0;
    transition: 0.3s;
}

.click-login-exit{
    width: 0px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-exit input{
    opacity: 0;
    transition: 0.3s;
}

/*-----------header-batton------------*/
.click-text{
    width: 80px;
    height: 24px;
    margin: 0px;
    padding: 3px;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 0px 15px 7px 0px;
}

.info{
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 2px;
}

.info > p{
    margin: 0px 5px;
    font-size: 14px;
    font-weight: bold;
}

.fa-user-check{
    color: #6d6d6d;
    text-shadow: 0px 0px 1px green;
}

.autoriz-message-wrap{
    display: none;
    width: 100%;
    border: 8px solid #d2d2d2;
    text-align: center;
    background: #f9f9f9;
    font-weight: bold;
    border-radius: 10px;
    margin: 23px auto;
    padding: 9px 15px;
    position: absolute;
    box-shadow: 0px 0px 5px #505050;
    z-index: -1;
}

.autoriz-message-wrap > p{
    margin: 0px;
}

.autoriz-message-wrap-form{
    display: none;
    width: 100%;
    border: 3px solid #c1c1c1;
    text-align: center;
    background: #ececec;
    font-weight: bold;
    border-radius: 10px;
    margin: 5px auto;
    padding: 9px 15px;
    box-shadow: 0px 0px 5px #ffffff;
}

.autoriz-message-wrap-form > p{
    margin: 0px;
}

/*-----------settings-----------*/
.settings{
    width: 50px;
    height: 100px;
    position: fixed;
    right: 0px;
    top: 160px;
    background: #ececec;
    border: 1px solid grey;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 4px #111111;
    z-index: 1;
}

.light, .dark{
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 4px #393939;
}

.dark{
    background: #2b2b2b;
}


/*-----------content------------*/
.content{
    display: none;
    transition: 1s;

}

.content-wrap{
    outline: var(--ol-3);
    margin: 20px auto;
}

.title-form-num{
    border: 1px solid #520000;
    padding: 0px 6px;
    border-radius: 5px;
    background: #ff4343;
    font-size: 20px;
    box-shadow: 0px 0px 2px #111111;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 1px #111111;
}

.zvit{
    border-radius: 10px;
    margin-top: 15px;
}

.title-form-num-zvit{
    border: 1px solid #520000;
    padding: 0px 4px;
    border-radius: 5px;
    background: #ff3333;
    font-size: 15px;
    box-shadow: 0px 0px 2px #111111;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 1px #111111;
}


.body-zvit1, .body-zvit2 {
    margin-top: 10px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.footer{
    width: 100%;
    height: 70px;
    margin: 35px auto 0px auto;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.footer > p{
    margin: 0px;
}


@media screen and (min-width:550px) and (max-width:780px){
    .wrap {
        width: 500px;
    }
}


@media screen and (max-width:549px) {
    .wrap {
        width: 98%;
        min-width: 300px;
        margin: 7px 1%;
    }
    .settings {
        display: none;
    }
    .header {
        width: 100%;
        min-height: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .header-login {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .header-logo{
        width: 90%;
    }
    .click {
        cursor: pointer;
        display: flex;
        height: 25px;
        margin: 17px 9px;
    }
}
